td {
    text-align: left;
}
th {
    text-align: left;
}


body {
    font-family: Helvetica;
    font-size: 16px;
    line-height: 1.5em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.listing-form {
    display: flex;
    flex-direction: column;
}

/* Display a label next to the value for each item in the Listing Detail View */
.detail-items > span {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Set all the form/display element widths */
.detail-items > span > label {
    width: 15%;
}

.detail-items > span > input {
    width: 85%;
}

.detail-items > span > select {
    width: 86%;
}

.detail-items > button {
    width: 15%;
    align-self: flex-end;
    padding: 10px;
}

/* Place any items under an element with class alongside one another (left to right)*/
.alongside {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Place any items under an element with class going from top to bottom*/
.flex-row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Make the external container a flexbox and right justify (flex-end)*/
.right-justify {
    display: flex;
    justify-content: flex-end;
}

.right-justify > button {
    width: 15%;
    padding: 10px;
}

.error {
    color: red;
}

.success {
    color: green;
}