#let(title = "Listing admin")
#define(body):

<div class="wrapper">
    <h2><a href="/admin/listing/views/">Views</a> / #(edit.id != nil ? "Edit" : "Create")</h2>

</div>

<form id="views-edit-form" class="wrapper" method="post" action="/admin/listing/views/#(edit.id ?? "new")/">
    <input type="hidden" name="id" value="#(edit.id)">

    <section>
        <label for="date">Date <span class="required">(Y.MM.dd. HH:mm:ss)</span></label>
        <input type="text" name="date" value="#(edit.date.value)" class="field">
        #if(edit.date.error != nil):
        <span class="error">#(edit.date.error)</span>
        #endif
    </section>

    <section>
        <label for="views_zillow">Views - Zillow</label>
        <input id="views_zillow" name="views_zillow" class="large" type="number" value="#(edit.views_zillow.value)"/>
        #if(edit.views_zillow.error != nil):
        <span class="error">#(edit.views_zillow.error)</span>
        #endif
    </section>

    <section>
        <label for="views_redfin">Views - Redfin</label>
        <input id="views_redfin" name="views_redfin" class="large" type="number" value="#(edit.views_redfin.value)"/>
        #if(edit.views_redfin.error != nil):
        <span class="error">#(edit.views_redfin.error)</span>
        #endif
    </section>
    
    <section>
        <label for="views_cb">Views - Coldwell Banker</label>
        <input id="views_cb" name="views_cb" class="large" type="number" value="#(edit.views_cb.value)"/>
        #if(edit.views_cb.error != nil):
        <span class="error">#(edit.views_cb.error)</span>
        #endif
    </section>

    <section>
        <label for="listingId">Listing</label>
        <select name="listingId">
            #for(item in edit.listing.options):
                <option #if(item.key == edit.listing.value): selected="selected" #endif value="#(item.key)">#(item.label)</option>
            #endfor
        </select>
        #if(edit.listing.error != nil):
        <span class="error">#(edit.listing.error)</span>
        #endif
    </section>
    
    <section>
        <input type="submit" class="submit" value="Save">
    </section>
</form>


#enddefine
#inline("Admin/Index")
