body {
    font-family: Helvetica;
    font-size: 16px;
    line-height: 1.5em;
    background-color: #001820;
    color: #d6b0b1;
    display: flex;
    flex-direction: column;
}

footer {
    padding: 1.5em;
    flex-shrink: 0;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.big-font {
    font-size:2em;
}

.padded-container, .padded-container > *, .padded-container > * > * {
    padding: 0.5em;
}

h2, h3 {
    margin-left: 0.5em;
}

form.search {
    margin-left: 0.5em;
}

/* Navbar styling */
ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #393D4A;
}

li.nav {
    float: left;
}

input, select {
    color: #d6b0b1;
    background-color: #393D4A;
    font-size: 1.5em;
}

input:focus {
    outline: none !important;
    border:1px solid #393D4A;
    box-shadow: 0 0 10px#345d66;
}

.input {
    background-color: #393D4A;
    color: #d6b0b1;
    font-size: 1.5em;

}

/* Shift right in the nav bar */
.shift-right {
    float: right;
    
} 

li.nav > a:not(.active-nav) {
    color: #d6b0b1;
    text-decoration: none;
    font-size: 1.5em;
    text-align: center;
}

.active-nav {
    background-color: #d6b0b1;
    color: #393d4a;
    text-decoration: none;
    font-size: 1.5em;
    text-align: center;
}

.big {
    font-size: 1.5em;
}

/* For active navbar button */
.active {
    background-color: #d6b0b1;
    color: #393d4a;
}

/* Navbar - Change the link color to #111 (black) on hover */
li.nav a.nav:hover {
    background-color: #d6b0b1;
    color: #393d4a;
    
}

.listing-form {
    display: flex;
    flex-direction: column;
    width:30%;
}

.listing-form > input {
    text-align: left; 
}

/* Display a label next to the value for each item in the Listing Detail View */
.detail-items > span {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Set all the form/display element widths */
.detail-items > span > label {
    width: 25%;
}

.detail-items > span > input {
    width: 75%;
}

.detail-items > span > select {
    width: 76%;
}

.detail-items > button {
    width: 30%;
    align-self: flex-end;
    padding: 10px;
}

.login-page {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.login-grid {
    align-self: center;
    display: grid;
    gap: 6px;
    grid-template-columns: 100px 100px 100px;
}

.login-grid > input:nth-of-type(1) {
    align-self: center;
    justify-self: stretch;
    grid-column-start:1;
    grid-column-end:4;
    grid-row-start:1;
    grid-row-end:1;
}

.login-grid > input:nth-of-type(2) {
    align-self: center;
    justify-self: stretch;
    grid-column-start:1;
    grid-column-end:4;
    grid-row-start: 2;
    grid-row-end: 2;
}

/* Forgot password? */
.login-grid > a:nth-of-type(1) {
    align-self:left;
    justify-self: stretch;
    grid-column-start:1;
    grid-column-end:3;
    grid-row-start: 3;
    grid-row-end: 3;
}

/* Login button */
.login-grid > button:nth-of-type(1) {
    align-self: center;
    justify-self: stretch;
    grid-column-start:3;
    grid-column-end:4;
    grid-row-start: 3;
    grid-row-end: 3;
}

a.login-button {
    background-color: #345d66;
    color: #d6b0b1;
    text-decoration: none;
    border: 2px solid #345d66;
    cursor: pointer;
    font-size: 1.2em;
    text-align: center;
}

button.login-button {
    background-color: #345d66;
    color: #d6b0b1;
    text-decoration: none;
    border: 2px solid #345d66;
    cursor: pointer;
    font-size: 1.2em;
    text-align: center;
    margin: auto;
    padding-left: 1.3em;
    padding-right: 1.3em;
    margin-left: 0px;
}

/* Place any items under an element 
with class alongside one another (left to right)*/
.alongside {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}

.alongside > a,button,table
.alongside > form > button {
    margin: 5px;
}

.header-and-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    color: #d6b0b1;
}

.header-and-icon > * {
    color: #BEA386;
    margin: 0.25em;
}

.above-below {
    margin-top: 1.4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.small-icon {
    font-size: 0.8em;
}

.arrow-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.25em;
}

.arrow-icons > form > a {
    color: #BEA386;
}

.arrow-icons > form > a.selected {
    color: #00222D;
}

.detail-container {
    background-color: #393d4a;
}

/* Place any items under an element with class going from top to bottom*/
.flex-row {
    display: flex;
    flex-direction: column;
    align-items: center;   
}

/* Make the external container a flexbox and right justify (flex-end)*/
.right-justify {
    display: flex;
    justify-content: flex-end;
}

.right-justify > button {
    width: 15%;
    padding: 10px;
}

button {
    background-color: /*#6dda89*/#345d66;
    color: /*#BEA386*/#d6b0b1;
    padding: 1em 1.5em;
    text-decoration: none;
    border: 2px solid #345d66;
    cursor: pointer;
    font-size: 1.2em;
    text-align: center;
}

/* Style a link as a button */
a.button {
    background-color: #345d66;
    color: #d6b0b1;
    padding: 1em 1.5em;
    text-decoration: none;
    border: 2px solid #345d66;
    cursor: pointer;
    font-size: 1.2em;
    text-align: center;
}



/* For Listing detail text */
span.listing_detail > span > p > a {
    color: #d6b0b1;
}

button:hover, a.button:hover  {
    background-color: #d6b0b1;
    color: #393d4a;
}

.error {
    color: red;
}

.success {
    color: green;
}

.refresh-icon {
    font-size: 3em;
    color: #d6b0b1;
}

.refresh-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}

.table-container {
    overflow-x: auto;
}

table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    margin-left:0.5em;
    margin-right:0.5em;
}

th {
    padding: 0.25em 0.25em 0.25em 0.25em; 
}

.nowrap {
    white-space: nowrap;
}

.padding {
    padding: 0.5em;
}

.hidden {
    display: none;
}

tbody tr:nth-child(odd) {
    background-color: #393D4A;
    color: #BEA386;
}

tbody tr:nth-child(odd) > td > a {
    color: #BEA386;
}

tbody tr:nth-child(odd) > td > span.above-below > p.shift-end > a {
    color: #00222D;
}

tbody tr:nth-child(even) {
    background-color: #00222D;
    color: #BEA386;
}

tbody tr:nth-child(even) > td > a {
    color: #BEA386;
}

tbody tr:nth-child(even) > td > span.above-below > p.shift-end > a {
    color: #393D4A;
}

tbody tr:first-child {
    background-color: #393D4A;
    color: #BEA386;
}
