body {
    font-family: Helvetica;
    font-size: 16px;
    line-height: 1.5em;
}

/* Navbar styling */
ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.nav {
    float: left;
}

li.nav a.nav {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active {
    background-color: #038001;
}

/* Navbar - Change the link color to #111 (black) on hover */
li.nav a.nav:hover {
    background-color: #4caf50;
    
}


.listing-form {
    display: flex;
    flex-direction: column;
}

/* Display a label next to the value for each item in the Listing Detail View */
.detail-items > span {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Set all the form/display element widths */
.detail-items > span > label {
    width: 15%;
}

.detail-items > span > input {
    width: 85%;
}

.detail-items > span > select {
    width: 86%;
}

.detail-items > button {
    width: 15%;
    align-self: flex-end;
    padding: 10px;
}

/* Place any items under an element with class alongside one another (left to right)*/
.alongside {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}
/*
.alongside-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}
*/
.alongside > a,button,table
.alongside > form > button {
    margin: 5px;
}

/* Place any items under an element with class going from top to bottom*/
.flex-row {
    display: flex;
    flex-direction: column;
    align-items: center;   
}

/* Make the external container a flexbox and right justify (flex-end)*/
.right-justify {
    display: flex;
    justify-content: flex-end;
}

.right-justify > button {
    width: 15%;
    padding: 10px;
}

button {
    background-color: #038001;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    border: 2px solid #038001;
    cursor: pointer;
    font-size: 1.2em;
}

/* Style a link as a button */
a.button {
    background-color: #038001;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    border: 2px solid #038001;
    cursor: pointer;
    font-size: 1.2em;
}

.error {
    color: red;
}

.success {
    color: green;
}

.table-container {
    overflow-x: auto;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

.nowrap {
    white-space: nowrap;
}

.padding {
    padding: 0.5em;
}

.hidden {
    display: none;
}

tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

tbody tr:nth-child(even) {
    background-color: #C8E3CF;
}

tbody tr:first-child {
    background-color: green;
    color: white;
}