{% extends "base.html" %}
{% block title %}Page Not Found{% endblock %}
{% block body %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="padded-container error">
    {% for message in messages %}
    <span class="error">{{ message }}</span>
    {% endfor %}
    </div>
{% endif %}
{% endwith %}
  <h2>Internal Server Error</h2>
  <p>Sit back and relax, it could be awhile.</p>
  <p>If you know how to, check <code>heroku logs --tail</code>. Otherwise, contact 
      your administrator.
  </p>
  <p><a href="{{ url_for('index') }}">Go back to the Listings page.</a>
{% endblock %}