
{% set navigation_bar = [
    ('/', 'listings', 'Listings'),
    ('/agents/', 'agents', 'Agents'),
    ('/logs/', 'logs', 'Logs'),
    ('/register/', 'register', 'Create Account'),
    ('/login/', 'login', 'Log In'),
    ('/logout/', 'logout', 'Log Out'),
    ('/settings', 'settings', 'Settings'),
] -%}
{% set active_page = active_page|default('listings') -%}
{% macro sentence_case(text) %}
    {{ text[0]|upper}}{{text[1:] }}
{% endmacro %}

<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>{% block title %} JBG Listings {% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='frontend.css') }}">
    </head>
    <body>
        <ul class="nav" id="navigation">
            {% for href, id, caption in navigation_bar %}
              <li class="nav" {% if id == active_page %} class="active"{% endif
              %}{% if id=="login" or id=="settings" or id=="logout" or id=="register" %}
              style="float:right"
              {% endif %}><a 
               {% if id == "register" or id == "login" %} 
                {% if current_user.is_authenticated %}
                    style="display:none;"
                {% endif %}
               {% endif %}
               {% if id=="logout" or id=="settings" %}
                {% if not current_user.is_authenticated %}
                    class="hidden"
                {% endif %}
                {% endif %}
               class="nav" href="{{ href|e }}">{{ caption|e }}</a></li>
              
            {% endfor %}
            </ul>
        {% block content %}{% endblock %}
    </body>
</html>