{% set active_page = "create" %}
{% extends 'base.html' %}

{% block content %}

<br>
<div class="padded-container">
    <a class="button" href="/agents">Back</a>
</div>

<br>
<br>
<h2>{% block title %} Agent {% endblock %}</h2>

<form class="listing-form detail-items padded-container" method="post" action="/agent/create">
    
   <span>
       <label for="name">Name:</label>
       &nbsp
       <input required name="name" type="text" {% if data is defined %} value="{{ data.name }}" {% else %} value="" {% endif %}/>        
    </span>
   
   <button type="submit">Submit</button>
</form>

<br>



{% endblock %}