{% set active_page = "logs" %}
{% extends 'base.html' %}

{% block content %}
{% if messages is defined and messages %}
{% for message in messages %}    
    <span class="success">{{ message }}</span>
        <br>
{% endfor %}
{% endif %}

<p> This page has the details for a given log, if that log exists. 
    It will allow you to see which Listings were parsed during the logged web scraping event.  
</p>

<br>

<a class="button" href="/logs/">Back to All Logs</a>
<br><br>
<hr>

<h3>{% block title %} Log {{ id }} {% endblock %}</h3>

<span class="detail-items">
    <span><label for="collection-type">Collection Type: </label>&nbsp<p name="collection-type">{% if log.collection_type.name == "one_time" %} one time {% else %} weekly {% endif%}</p></span>
    <span><label for="date">Date:</label>&nbsp<p name="date">{{ log.date }}</p></span>
    <span><label for="status">Job Status:</label>&nbsp<p name="status">{% if log.status %} Passed {% else %} Failed {% endif %}</p></span>
    <label for="listings-collected">Listings Collected:</label>
    <span name="listings-collected">
        
        <br>
        {% if listings %}
        <ul>
            {% for listing in listings %}
            <li><a href="/listing/{{listing.id}}">{{ listing.address }}</a></li>
            <br>
            {% endfor %}
        </ul>
        {% else %}
        <p> No listings detected for parsing.</p>
        {% endif %}
        
        <p>{{ price }}</p>
    </span>
    <label for="errors">Errors:</label>
    <span name="errors">
        {% if log.errors %}
        <ul>
            {% for error in log.errors %}

                <li><p>{{ error }}</p></li>
                <br>

            {% endfor %}
        </ul>
        {% endif %}
    </span>
    
</span>

{% if not id %}
<p>Log not found...</p>
{% endif %}

<br>



{% endblock %}