{% set active_page = "listings" %}

{% extends 'base.html' %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="error">
    {% for message in messages %}
    <span class="error">{{ message }}</span>
    {% endfor %}
    </div>
{% endif %}
{% endwith %}


<p> This page has the details for a given listing, if that listing exists. 
    It will allow you to edit the details for a Listing. 
    It will also display a graph of all the ListingViews. 
    Otherwise it will display "Listing not found".</p>

{% if listing is defined and listing %}

<h3>{% block title %} Listing {{ listing.id }} {% endblock %}</h3>

{% if editing %}
<div class="">
    <a href="/listing/{{ listing.id }}">Cancel Edit</a>
</div>


{% for id, text in statuses.items() %}
<p>id: {{id}}</p>
<p>text: {{sentence_case(text)}}</p>
{% endfor %}

<form class="listing-form detail-items" method="post" action="/listing/{{ listing.id }}/edit">
    <input type="hidden" name="id" value="{{ listing.id }}"/>
   <span><label for="address">Address:</label>&nbsp<input name="address" type="text" {% if data is defined and data %} value={{ data.address }} {% else %} value="{{ listing.address }}" {% endif %}/> </span>
   <span><label for="mls">MLS ID:</label>&nbsp<input name="mls" type="text" {% if data is defined and data %} value={{ data.mls }} {% else %} value="{{ listing.mls }}"{% endif %}/></span> 
   <span><label for="price">Listing Price:</label>&nbsp<span class="alongside">$<input name="price" type="number" min="0" {% if data is defined and data %} value={{ data.price }} {% else %} value="{{ listing.price }}"{% endif %}/></span></span>
   <span>
    <label for="agent">Agent:</label>
        <select name="agent">
            {% for agent in agents %}
                {% if data is defined and data %}
                <option value={{agent.id}} {% if (agent.id|string == data.agent|string) %}selected="selected"{% endif %}>{{agent.name}}</option>
                {% else %}
                <option value={{agent.id}} {% if agent.id == listing.agent_id %} selected="selected" {% endif %}>{{agent.name}}</option>
                {% endif %}
             {% endfor %}
        </select> 
    </span>
    <span>
        <label for="status">Status:</label>
        <select name="status">
            {% for id, text in statuses.items() %}

            <option value="{{id}}" {% if listing.status.value == id %} selected="selected"{% endif %}>{{ sentence_case(text) }}</option>

            {% endfor %}

        </select> 
    </span>     

   <span><label for="url_zillow">Zillow URL:</label>&nbsp<input name="url_zillow" type="text" {% if data is defined and data %} value="{{ data.url_zillow }}" {% else %}value="{{ listing.url_zillow }}"{% endif %}/></span>
   <span><label for="url_redfin">Redfin URL:</label>&nbsp<input name="url_redfin" type="text" {% if data is defined and data %} value="{{ data.url_redfin }}" {% else %}value="{{ listing.url_redfin }}"{% endif %}/></span>
   <span><label for="url_cb">Coldwell Banker URL:</label>&nbsp<input name="url_cb" type="text" {% if data is defined and data %} value="{{ data.url_cb }}" {% else %}value="{{ listing.url_cb }}"{% endif %}/></span>
   <button type="submit">Submit</button>
</form>



{% else %}
<div class="">
    <a href="{{ listing.id }}/edit">Edit Listing</a>
</div>
<form class="right-justify" method="get" action="/scrape/{{ listing.id }}/">
    <button type="submit" value="Collect Listing Views" onclick="return confirm('Are you sure you want to do that?');"> Collect Listing Views </button>
</form>

<span class="detail-items">
    <span><label for="address">Address: </label>&nbsp<p name="address">{{ listing.address }}</p></span>
    <span><label for="mls">MLS ID:</label>&nbsp<p name="mls">{{ listing.mls }}</p></span>
    <span><label for="price">Listing Price:</label>&nbsp<p>{{ price }}</p></span>
    <span><label for="agent">Agent:</label>&nbsp<p>{{ listing.agent.name }}</p></span>
    <span><label for="url_zillow">Zillow URL:</label>&nbsp<p><a target="_blank" href="{{listing.url_zillow}}">{{listing.url_zillow}}</a></p></span>
    <span><label for="url_redfin">Redfin URL:</label>&nbsp<p><a target="_blank" href="{{listing.url_redfin}}">{{listing.url_redfin}}</a></p></span>
    <span><label for="url_cb">Coldwell Banker URL:</label>&nbsp<p><a target="_blank" href="{{listing.url_cb}}">{{listing.url_cb}}</a></p></span>
    <span><label for="status">Status:</label>&nbsp<p>{{sentence_case(listing.status.name)}}</p></span>
</span>


{% endif %}

{% else %}
<p>Listing not found...</p>
{% endif %}

{% if plot %}
    <img src="/matplot-as-image-{{listing.id}}.png"
        alt="Property views"
        height="500"
    >
{% endif %}

<br>
<div class="alongside-buttons">
    {% if listing.status.name == "deleted" %}
    <form class="right-justify" method="get" action="/listing/{{ listing.id }}/recover">
        <button type="submit" value="Recover Deleted Listing" onclick="return confirm('Are you sure you want to do that?');"> Recover Deleted Listing </button>
    </form>
    {% endif %}
    {% if listing.status.name == "active" %}
    <form class="right-justify" method="get" action="/listing/{{ listing.id }}/archive">
        <button type="submit" value="Archive Listing" onclick="return confirm('Are you sure you want to do that?');"> Archive Listing </button>
    </form>
    {% endif %}
    {% if listing.status.name == "active" or listing.status.name == "archived" %}
    <form class="right-justify" method="get" action="/listing/{{ listing.id }}/delete">
        <button type="submit" value="Delete Listing" onclick="return confirm('Are you sure you want to do that?');"> Delete Listing </button>
    </form>
    {% endif %}
</div>

<a href="/">Back to All Listings</a>

{% endblock %}