
{% set active_page = "logs" %}
{% extends 'base.html' %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="error">
    {% for message in messages %}
    <span class="error">{{ message }}</span>
    {% endfor %}
    </div>
{% endif %}
{% endwith %}

<h3>{% block title %} Property View Web Scraper Logs  {% endblock %}</h3>
<p> This page will have all of the logs for the data collection, whether it's triggered manually or weekly. The log will 
    describe what kind of data collection was performed (scheduled weekly run or one-time run) and what listings were parsed.
</p>
    <form method="get" action="/scrape/all/">
        <button type="submit" onclick="return confirm('Are you sure you want to do that?');"> Collect All Listing Views </button>
    </form>

    <br>

        {% if logs %}
        <div class="table-container">

            <table>
                <tr>
                    <th>Log ID</th>
                    <th>Collection Type (Weekly vs. One-time)</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Listings Collected (IDs)</th>
                    <th>Errors (Preview)</th>
                </tr>
    
                {% for log in logs %} 
                <tr>
                    <td><a href="/log/{{log.id}}">{{log.id}}</a></td>
                    <td><p>{% if log.collection_type.name == "one_time" %} one time {% else %} weekly {% endif%}</p> </td>
                    <td><p>{{ log.date }}</p></td>
                    <td><p>{% if log.status %} Passed {% else %} Failed {% endif %}</p></td>
                    <td><a href="/log/{{log.id}}">{{ log.listing_ids }}</a></td>
                    <td><a href="/log/{{log.id}}">{% if log.errors %}{{ log.errors[0] }}{% else %}No errors reported.{% endif %}</a></td>
                </tr>
                {% endfor %}
            <table>

        </div>
            {% else %}
            <H2>No logs found.</H2>

        {% endif %}
        

        


{% endblock %}