
{% set active_page = "listings" %}
{% extends 'base.html' %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="error">
    {% for message in messages %}
    <span class="error">{{ message }}</span>
    {% endfor %}
    </div>
{% endif %}
{% endwith %}

<h3>{% block title %} {% if not show_inactive is defined or not show_inactive %} Active {% else %} Archived {%endif %} Listings {% endblock %}</h3>
<p> This page will have all of the Listings listed here, and for each listing it will link to the detail page for that listing </p>

        <span class="alongside">
            <a class="button" href="listing/create">Add a Listing</a>

            <form method="get" action="/scrape/all/">
                <button type="submit" onclick="return confirm('Are you sure you want to do that?');"> Collect All Listing Views </button>
            </form>

            <form method="post" action="/toggle_inactive/listing/">
            {% if show_inactive %} 
                <button name="show_inactive" type="submit" value={{False}}> View Active Listings </button>
            {% else %} 
                <button name="show_inactive" type="submit" value={{True}}> View Archived Listings </button>
                {% endif %}
            </form>

            <a class="button" href="/listings/deleted">View Deleted Listings</a>
            
        </span>
        


        {% if listings %}

        {% set ns = namespace(inactive_found=false) %}
        {% for listing in listings %}
            {% if not listing.status %}
                {% set ns.inactive_found = True %}
            {% endif %}
        {% endfor %}
        <div class="table-container">

            {% if not show_inactive or (show_inactive and ns.inactive_found) %}
            <table>
                <tr>
                    <th>Listing Address</th>
                    <th>MLS</th>
                    <th>Agent</th>
                    <th>Listing Price</th>
                    <th>Status</th>
                    <th>Zillow Listing</th>
                    <th>Redfin Listing</th>
                    <th>Coldwell Banker Listing</th>
                    
                </tr>
                {% for listing in listings %}
                    
                    {% if (not show_inactive and listing.status) or (show_inactive and not listing.status) %}

                    <tr>
                        <td><a href="/listing/{{listing.id}}">{{listing.address}}</a></td>
                        <td><p>{{listing.mls}}</p></td>
                        <td><a href="/agent/{{listing.agent.id}}">{{listing.agent.name}}</a></td>
                        <td><p>{{ "${:,}".format(listing.price) }}</p></td>
                        <td><p>{% if listing.status %} Active {% else %} Archived {% endif%}</p></td>
                        <td><a target="_blank" href={{listing.url_zillow}}>{{listing.url_zillow}}</a></td>
                        <td><a target="_blank" href={{listing.url_redfin}}>{{listing.url_redfin}}</a></td>
                        <td><a target="_blank" href={{listing.url_cb}}>{{listing.url_cb}}</a></td>
                    </tr>

                    {% endif %}
                
                {% endfor %}
            <table>
                {% else %}
                <h2>No archived listings.</h2>
            {% endif %}

        </div>
        
            
            
        
            {% else %}
            <H2>No listings.</H2>

        {% endif %}
        

        


{% endblock %}