
{% set active_page = "agents" %}
{% extends 'base.html' %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="error">
    {% for message in messages %}
    <span class="error">{{ message }}</span>
    {% endfor %}
    </div>
{% endif %}
{% endwith %}

<h3>{% block title %} Agents {% endblock %}</h3>

        <div class="alongside">
            <a class="button" href="../agent/create">Add an Agent</a>

            <form method="post" action="/toggle_inactive/agent/">
            {% if show_inactive %} 
                <button name="show_inactive" type="submit" value={{False}}> View Active Listings </button>
            {% else %} 
                <button name="show_inactive" type="submit" value={{True}}> View Archived Listings </button>
                {% endif %}
            </form>

            <a class="button" href="/agents/deleted">View Deleted Agents</a>
        </div>
            {% if agents %}
                {% set ns = namespace(inactive_found=false) %}
                {% for agent in agents %}
                    {% if not agent.status %}
                        {% set ns.inactive_found = True %}
                    {% endif %}
                {% endfor %}
                {% if not show_inactive or (show_inactive and ns.inactive_found) %}
                    <table>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Status</th>
                        </tr>

                        {% for agent in agents %} 
                            {% if (not show_inactive and agent.status) or (show_inactive and not agent.status) %}
                            <tr>
                                <td class="padding"><p>{{agent.id}}</p></td>
                                <td class="padding"><a href="/agent/{{agent.id}}">{{agent.name}}</a></td>
                                <td class="padding"><p>{{sentence_case(agent.status.name)}}</p></td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    <table>
                {% else %}
                    <h2>No archived agents.</h2>
                {% endif %}
            {% else %}
            <h2>No agents yet.</h2>
    
            {% endif %}
       
        
        
        

{% endblock %}