
{% set active_page = "logs" %}
{% extends 'base.html' %}

{% block content %}

<h2>{% block title %} Property View Web Scraper Logs  {% endblock %}</h2>

    {% if scraper_active %}
    <form class="padded-container" method="get" action="/scrape/all/">
        <button type="submit" onclick="return confirm('Are you sure you want to do that?');"> Collect All Listing Views </button>
    </form>
    {% endif %}

    <br>

        {% if logs %}
        <div class="table-container">

            <table class="scroll">
                <tr>
                    <th>Log ID</th>
                    <th>Collection Type (Weekly vs. One-time)</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Listings Collected (IDs)</th>
                    <th>Errors (Preview)</th>
                </tr>
    
                {% for log in logs %} 
                <tr>
                    <td class="padding"><a href="/log/{{log.id}}">{{log.id}}</a></td>
                    <td class="padding"><p>{% if log.collection_type.name == "one_time" %} One time {% else %} Weekly {% endif%}</p> </td>
                    <td class="padding"><p>{{ log.date.strftime('%m-%d-%Y %H:%M:%S') }}</p></td>
                    <td class="padding"><p>{% if log.status %} Passed {% else %} Failed {% endif %}</p></td>
                    <td><a href="/log/{{log.id}}">{{ log.listing_ids }}</a></td>
                    <td><a href="/log/{{log.id}}">{% if log.errors %}{{ log.errors[0] }}{% else %}No errors reported.{% endif %}</a></td>
                </tr>
                {% endfor %}
            <table>

        </div>
            {% else %}
            <H2>No logs found.</H2>

        {% endif %}
        

        


{% endblock %}