{% set active_page = "register" %}
{% extends 'base.html' %}

{% block content %}

<h2>{% block title %} Register {% endblock %}</h2>

<div class="box">
    <form method="POST" action="/register">
        <input class="input is-large" hidden type="text" name="token" {% if token is defined and token %} value="{{ token }}" {% else %} value="" {% endif %}/>
            
        <div class="field">
            <div class="control">
                <input class="input is-large" type="email" name="email" placeholder="Email" autofocus="" {% if data is defined and data %} value="{{ data.email }}" {% else %} value="" {% endif %}/>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <input class="input is-large" type="text" name="name" placeholder="Name" autofocus="" {% if data is defined and data %} value="{{ data.name }}" {% else %} value="" {% endif %}/>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <input class="input is-large" type="password" name="password" placeholder="Password" {% if data is defined and data %} value="{{ data.password }}" {% else %} value="" {% endif %}/>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <input class="input is-large" type="password" name="password_confirm" placeholder="Retype password" {% if data is defined and data %} value="{{ data.password_confirm }}" {% else %} value="" {% endif %}/>
            </div>
        </div>

        

        <br>

        <button class="button is-block is-info is-large is-fullwidth">Sign Up</button>
    </form>
</div>

{% endblock %}