{% set active_page = "reset-password" %}
{% extends 'base.html' %}

{% block content %}

<h2>{% block title %} Password Reset {% endblock %}</h2>

<div class="box">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}
        </div>
    {% endif %}
    {% endwith %}
    
    {% if resetting %}
    
        
    <form method="POST" action="/reset-password">
        <input class="input is-large" hidden name="email" value="{{ email }}"/>
        <input class="input is-large" hidden name="token" value="{{ token }}"/>
        <div class="field">
            <div class="control">
                <input class="input is-large" type="password" name="password" placeholder="New Password"/>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <input class="input is-large" type="password" name="password-confirm" placeholder="Confirm new password"/>
            </div>
        </div>
        <button class="button is-block is-info is-large is-fullwidth">Reset Password</button>
    </form>
    
    {% else %}
    
    <form method="POST" action="/reset-password">
        <div class="field">
            <div class="control">
                <input class="input is-large" type="email" name="email" placeholder="Your Email" autofocus="" value=""/>
            </div>
        </div>
        <button class="button is-block is-info is-large is-fullwidth">Send Reset Email</button>
    </form>
    
    {% endif %}
</div>

{% endblock %}
