{% set active_page = "settings" %}
{% extends 'base.html' %}

{% block content %}

<h2>{% block title %} Settings {% endblock %}</h2>
<hr>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="padded-container notification is-danger">
            {{ messages[0] }}
        </div>
    {% endif %}
    {% endwith %}

<div class="padded-container">
    
    {% if editing %}
        <br>
        <div>
            <a class="button" href="/settings/">Cancel Edit</a>
        </div>
        <br>
        <form class="listing-form detail-items" method="post" action="/settings/edit">
            <span><label for="name">Name:</label>&nbsp<input name="name" type="text" {% if errors %} value="{{ data.name }}" {% else %} value="{{ current_user.name }}" {% endif %}/> </span>
            <span><label for="email">Email:</label>&nbsp<input name="email" type="text" {% if errors %} value="{{ data.email }}" {% else %} value="{{ current_user.email }}" {% endif %}/> </span>
            <button type="submit">Submit</button>
        </form>

    {% else %}
    
    <h3>Profile</h3>
    <br>
    <div class="">
        <a class="button" href="/settings/edit">Edit Profile</a>
    </div>
    <br>
    <div class="detail-items dark-on-light">
        <span><label for="name">Name: </label>&nbsp<p name="name">{{ current_user.name }}</p></span>
        <br>
        <span><label for="name">Email: </label>&nbsp<p name="email">{{ current_user.email }}</p></span>
        <span><label for="role">Role: </label>&nbsp{% if current_user.is_admin %} <p name="role">Admin</p>  {% else %} <p name="role">User</p> {% endif %} </span>
    </div>
    
    <hr>

    {% if is_admin %}
    <h3>Invite New Users</h3>
        
    <form method="POST" action="/invite-user/" class="alongside">
        <div class="field">
            <div class="control">
                <input class="input is-large" type="text" name="email" placeholder="Email"/>
            </div>
        </div>
        <button class="button is-block is-info is-large is-fullwidth">Send Invite</button>
    </form>
    
    <hr>
    {% endif %}

    <br>
    <div class="padded-container">
        <a class="button" href="/reset-password/">Reset password</a>
    </div>
    

    {% endif %}

</div>

{% endblock %}
