#let(title = "Listing admin")
#define(body):
<div class="wrapper">
    <h2>Posts</h2>
    <a href="/admin/listing/posts/new">Create</a>
</div>

<table class="wrapper">
    <thead>
        <tr>
            <th>Title</th>
            <th class="actions">Actions</th>
        </tr>
    </thead>
    <tbody>
    #for(item in list):
        <tr>
            <td>#(item.address)</td>
            <td class="actions">
                <a href="/#(item.id)" target="_blank">Preview</a> &middot;
                <a href="/admin/listing/posts/#(item.id)">Edit</a> &middot;
                <a id="#(item.id)" href="#" onClick="confirmDelete('/admin/listing/posts/', this.id);">Delete</a>
            </td>

        </tr>
    #endfor
    </tbody>
</table>
#enddefine
#inline("Admin/Index")
