#define(body):
<section id="listing-views" class="wrapper">
    <h2>Listing Views</h2>

    #for(view in views):
    <article>
        <a href="/#(view.id)/">
            <h3>Zillow: #(view.views_zillow)</h3>
            <h3>Redfin: #(view.views_redfin)</h3>
            <h3>CB: #(view.views_cb)</h3>
            <p class="listing">#Date(timeStamp: view.date, localizedFormat: "MM.dd.yyyy") &middot; #(post.listing.address ?? "Uncategorized")</p>
        </a>
    </article>
    #endfor

</section>
#enddefine
#inline("Frontend/Index")
